<% content_for(:page, "ログイン") %>
<div class="container">
  <div class="row">
    <div class="offset-4 col-4">
      <div class="container d-flex justify-content-center">
        <%= form_with url: "/sign_in", method: :post do |form| %>
          <% flash.each do |message_type, message| %>
            　　<div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <div class="row mb-3">
            <label for="exampleFormControlInput1" class="form-label">メールアドレス</label>
            <%= form.text_field :email, class: 'form-control' %>
          </div>
          <div class="row mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">パスワード</label>
            <%= form.password_field :password, class: 'form-control' %>
          </div>
          <div class="row mb-3 align-content-right">
            <%= form.submit "ログイン", class: "btn btn-success"%>
          </div>
          <div class="row mb-3 align-content-right">
            <%= link_to "新規登録はこちら", sign_up_path, class: 'btn btn-outline-success' %>
          </div>
          <div class="row mb-2 align-content-center text-center">
            <a href="/password_resets/new">パスワードをお忘れですか？</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
