<% content_for(:page, "パスワードリセット") %>
<%= form_for @user,  data: { turbo: false }, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <% if flash[:danger].present? %>
          <div class="alert alert-danger">
            <ul>
                <% flash[:danger].each do |m| %>
                  <li><%= m %></li>
                <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, value: @user.email, class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-4">
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-4">
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-4">
          <%= f.submit "更新", class: "btn btn-success w-100 mt-3"%>
        </div>
      </div>
    </div>
  </div>
<% end %>