<% content_for(:page, "ユーザー新規登録") %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="container d-flex justify-content-center">
        <%= form_with url: "/sign_up", method: :post do |form| %>
          <% flash.each do |message_type, message| %>
            　　<div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <div class="row mb-3">
            <label for="exampleFormControlInput1" class="form-label">メールアドレス</label>
            <%= form.text_field :email, class: 'form-control'%>
          </div>
          <div class="row mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">パスワード</label>
            <%= form.password_field :password, class: 'form-control' %>
          </div>
          <div class="row mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">パスワード（確認）</label>
            <%= form.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="row mb-3 align-content-right">
            <%= form.submit "新規登録", class: "btn btn-success"%>
          </div>
          <div class="row mb-3 align-content-right">
            <%= link_to "すでに登録済みの方はこちら", sign_in_path, class: 'btn btn-outline-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
