<% content_for :page, "登録帳票一覧" %>
<% content_for :page_right_content do  %>
  <button type="button" class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#exampleModal">新規登録</button>
<% end %>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">帳票ID</th>
      <th scope="col">帳票名称</th>
      <th scope="col">説明</th>
      <th scope="col">最終更新日時</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-outline-danger">削除</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>
        <button type="button" class="btn btn-outline-danger">削除</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>
        <button type="button" class="btn btn-outline-danger">削除</button>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">帳票テンプレート新規登録</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="container">
          <%= form_with url: "/", method: :post do |form| %>
            <div class="modal-body">
              <div> <%= flash[:danger] %></div>
              <div class="row mb-3">
                <label for="formFile" class="form-label">登録する帳票テンプレート</label>
                <%= form.file_field :form_file, class: "form-control", accept: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" %>
              </div>
              <div class="row mb-3">
                <label for="form_description" class="form-label">帳票テンプレートの説明</label>
                <%= form.text_field :form_description, class: 'form-control', placeholder: "例）1週間の作業報告用テンプレート" %>
              </div>
              <div class="modal-footer">
<!--                <button type="submit" class="btn btn-success">登録</button>-->
                <%= form.submit "登録", class: "btn btn-success"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
