<% content_for :page, "設定" %>
<div class="container">
  <div class="row mb-4">
    <div class="offset-4 col-4">
      <h3>メールアドレスの変更</h3>
    </div>
  </div>
  <div class="row mb-4">
    <div class="offset-4 col-4">
      <% if flash[:danger].present? %>
        <div class="alert alert-danger">
          <ul>
            <% flash[:danger].each do |m| %>
              <li><%= m %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if flash[:success].present? %>
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
      <% end %>
      <%= form_with url: "/settings", data: { turbo: false }, method: :post, local: true do |f| %>
        <div class="mb-3">
          <%= f.label "_email", "現在のメールアドレス" %>
          <div>
            <% if @authenticated_user.nil? %>
              <%= f.email_field "_email", value: "", class: 'form-control', disabled: true%>
            <% else %>
              <%= f.email_field "_email", value: @authenticated_user.email, class: 'form-control', disabled: true%>
            <% end %>
          </div>
        </div>
        <div class="mb-3 form-group">
          <%= f.label :email, "変更後のメールアドレス" %>
          <%= f.email_field :email, required: true, class: 'form-control' %>
        </div>
        <div class=" mb-3 align-content-right">
          <%= f.submit "変更", class: 'w-100 btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mb-4">
    <div class="offset-md-4 col-md-4 col">
      <h3>アカウントの削除</h3>
    </div>
  </div>
  <div class="row mb-4">
    <div class="offset-md-4 col-4">
      <%= form_with url: "/settings", data: { turbo: false }, method: :delete, local: true do |f| %>
        <%= f.button "アカウント削除", type: "button", class: 'w-100 btn btn-danger', data: {"bs-toggle": "modal", "bs-target": "#delete-modal"}  %>
        <%#= f.button "削除", type: "button", class: "delete-button btn btn-danger", data: {"bs-toggle": "modal", "bs-target": "#delete-modal"} %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-modal-label">アカウント削除</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        本当にアカウントを削除しますか？
      </div>
      <div class="modal-footer">
        <%= form_with url: "/settings", data: { turbo: false }, method: :delete, local: true do |f| %>
          <%= f.submit "削除", class: "btn btn-danger"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
