<!DOCTYPE html>
<html>
  <head>
    <title>XLSX Creator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/favicon.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%= javascript_include_tag "https://taisukef.github.io/marked_md/marked.min.js", 'data-turbo-track': 'reload'%>
    <%= javascript_include_tag "common/index.js", 'data-turbo-track': 'reload'%>
    <% if resource_exists("javascripts") %>
      <%= javascript_include_tag "#{controller_name}/index.js", 'data-turbo-track': 'reload'%>
    <% end %>
    <% if resource_exists("stylesheets") %>
      <%= stylesheet_link_tag "#{controller_name}/index.css" %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="container-fluid title-header">
      <div class="container d-flex">
        <div class="title">
          <h1><a class="text-none-decorated" href="/">XLSX Creator</a></h1>
        </div>
        <nav class="d-flex flex-grow-1 justify-content-end align-items-center">
          <ul class="menu">
            <li><a href="/usage" class="text-none-decorated">利用方法</a></li>
            <li><a href="/terms" class="text-none-decorated">利用規約</a></li>
            <li>
              <div class="dropdown">
                <% login_user = get_user %>
                <% if login_user.present? %>
                  <button class="nav-button dropdown-toggle" type="button" id="header-menu" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= login_user.email %>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="header-menu">
                    <li><a href="/settings" class="dropdown-item" type="button">設定</a></li>
                    <li>
                      <form action="/sign_out" method="post">
                        <button class="dropdown-item">ログアウト</button>
                      </form>
                  </ul>
                <% else %>
                  <button class="nav-button dropdown-toggle" type="button" id="header-menu" data-bs-toggle="dropdown" aria-expanded="false">ゲスト</button>
                  <ul class="dropdown-menu" aria-labelledby="header-menu">
                    <li><a href="/sign_in" class="dropdown-item" type="button">ログイン</a></li>
                    <li><a href="/sign_up" class="dropdown-item" type="button">新規登録</a></li>
                  </ul>
                <% end %>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <% if current_page?(:controller => 'lp', :action => 'new') %>
      <%= yield %>
    <% else %>
      <main class="container p-2">
        <section class="page-section">
          <div class="d-flex">
              <div class="flex-grow-1">
                <h3><%= yield(:page) %></h3>
              </div>
              <div>
                <%= yield(:page_right_content) %>
              </div>
            </div>
          </div>
        </section>
        <section class="main-section p-2">
          <%= yield %>
        </section>
      </main>
    <% end %>
  </body>
</html>
