<!DOCTYPE html>
<html>
  <head>
    <title>RailsJwtStudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <% if resource_exists("javascripts") %>
      <%= javascript_include_tag "#{controller_name}/index.js", 'data-turbo-track': 'reload'%>
    <% end %>
    <% if resource_exists("stylesheets") %>
      <%= stylesheet_link_tag "#{controller_name}/index.css" %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="container-fluid title-header">
      <div class="container d-flex">
        <div class="title">
          <h1>XLSX Creator</h1>
        </div>
        <nav class="d-flex flex-grow-1 justify-content-end align-items-center">
          <ul class="menu">
            <li><a href="#" class="menu-text">使い方</a></li>
            <li><a href="#" class="menu-text">利用規約</a></li>
            <li>
              <div class="dropdown">
                <button class="nav-button dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">test@example.com</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a class="dropdown-item" type="button">ユーザー情報変更</a></li>
                  <li><a class="dropdown-item" type="button">ログアウト</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container p-2">
      <section class="page-section">
        <div class="d-flex">
            <div class="flex-grow-1">
              <h3><%= yield(:page) %></h3>
            </div>
            <div>
              <%= yield(:page_right_content) %>
            </div>
          </div>
        </div>
      </section>
      <section class="main-section p-2">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
